body {
    margin: 0;
    padding: 0;
}

#wrapper {
    max-width: 1350px;
    min-width: 400px;
    margin: 20px auto;
    padding: 0 10px;
    background-color: #FEFEFE;
}

header {
    background-color: rgb(102, 158, 4);
    padding: 8px;
    margin-bottom: 10px;
    border: 0;
    border-radius: 5px;
    font-family: monospace;
    font-size: 20px;
}

header.error {
    background-color: #DDDDDD;
}

.errors {
    list-style: none;
    margin: 0;
    padding: 0;
    overflow-x: auto;
    border-radius: 5px;
    border: 1px solid rgba(0, 0, 0, .08);
    box-shadow: 0 1px 4px rgba(0, 0, 0, .04);
}

.errors .error {
    font-family: monospace;
    word-wrap: break-word;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}

.errors .error:nth-child(odd) {
    background-color: #FAA9A9;
}

.errors .error:nth-child(even) {
    background-color: #FD9898;
}

.error .error-message {
    margin: 0;
    padding: 8px;
    white-space: pre-wrap;
    background-color: #FFDACE;
}

.error .error-header {
    cursor: pointer;
    width: 100%;
    display: inline-block;
    padding: 8px;
}

.error .error-header:hover {
    background-color: #fdbfbf;
}

.error .file, .error .file a {
    color: #000000;
}

.error .file a {
    text-decoration: none;
}

.error .file a:hover {
    color: #666666;
}

.error .file .error-location {
    color: #666666;
}

.errors .error-number {
    margin-right: 10px;
}

.hide {
    display: none;
}
